.deatilsfonttyello2233 {
  margin-top: 12%;
  margin-bottom: 3%;
  color: #102;
  text-align: center;
  font-family: Lufga;
  font-size: 48px;
  font-weight: 600;
}

.styleblogs {
  display: flex;
  justify-content: center;
  gap: 3%;
}

.style2blogs {
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.middleidnex {
  display: flex;
  justify-content: center;
  margin: 3% 0;
}

.buttonindexwhiteuui {
  display: flex;
  height: auto;
  padding: 26px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  border-radius: 28px;
  border: 2px solid #fd6f00;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.25) inset,
    0 0 16px rgba(253, 111, 0, 0.75);
  backdrop-filter: blur(36px);
}

.viewall {
  color: #140828;
  text-align: center;
  font-family: Lufga;
  font-size: 28px;
  font-weight: 500;
}