.featuresSection {
  padding: 5% 0;
  text-align: center;
}

.featuresTitle {
  font-family: Lufga, sans-serif;
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 3%;
  color: #102;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.middleIndex {
  display: flex;
  justify-content: center;
  margin: 3% 0;
}

.buttonIndexWhite {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px;
  border-radius: 28px;
  border: 2px solid #FD6F00;
  box-shadow: inset 0 0 16px rgba(255,255,255,0.25), 0 0 16px rgba(253,111,0,0.75);
  backdrop-filter: blur(36px);
}

.viewAll {
  font-family: Lufga, sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #140828;
  text-align: center;
  cursor: pointer;
}
h1,h2,p{
   padding: 0;
    margin: 0;
}
body{
   
    margin: 0;
}