.aboutMe {
  position: relative;
  width: 100%;
  padding: 15% 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.contentKenzy {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  margin: auto;
}

.mainLogo {
  width: 150px; /* adjust size as needed */
  height: auto;
  margin: 0 auto;
}

.mainTitle {
  color: #fff;
  font-family: "Lufga", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttonSkills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  padding: 26px;
  border-radius: 21px;
  border: 1.5px solid #fff1e6;
  box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.25),
              0 0 12px rgba(253, 111, 0, 0.75);
  backdrop-filter: blur(27px);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.buttonSkills:hover {
  transform: scale(1.05);
}

.figmaText {
  color: #f0f5f9;
  font-family: "Lufga", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}
h1,h2,p{
   padding: 0;
    margin: 0;
}
body{
   
    margin: 0;
}