.bgdetails {
  padding-left: 5%;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  gap: 20px;
  height: 100%;
  background: #020103;
}

.divtextzoo {
  margin: auto;
}

.gizazoofonth1 {
  color: #FDFDF1;
  font-family: Lufga, sans-serif;
  font-size: 46px;
  font-weight: 700;
}

.gizazoofonth55 {
  color: #FDFDF1;
  font-family: Lufga, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
}

.wbar {
  width: 100%;
  display: block;
  margin-top: 20px;
}