.secounddivdeails {
  padding: 5%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  gap: 20px;
  height: 100%;
  background: #FDFDF1;
}

.gizazoofonth1sec2 {
  color: #102;
  font-family: Lufga, sans-serif;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
}

.deatilsfont4 {
  color: #102;
  text-align: center;
  font-family: Lufga, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}