.bgdetails {
  padding-left: 5%;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

.divtextzoo {
  margin: auto;
}

.gizazoofonth1 {
  color: #fff;
  font-family: Lufga, sans-serif;
  font-size: 46px;
  font-weight: 700;
}

.gizazoofonth2 {
  color: #fff;
  font-family: Lufga, sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.gizazoofonth3 {
  color: #fff;
  font-family: Lufga, sans-serif;
  font-size: 18px;
  font-weight: 700;
}