.tableofcontent {
  background: #f9f5ff;
  border-left: 4px solid #FB6514;
  padding: 25px;
  margin: 50px auto;
  width: 80%;
  border-radius: 14px;
}

.tableofcontent h2 {
  font-family: Lufga;
  font-size: 28px;
  margin-bottom: 15px;
}

.tableofcontent ul {
  list-style: none;
  padding-left: 0;
}

.tableofcontent li {
  margin: 12px 0;
}

.tableofcontent a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-family: Lufga;
}

.tableofcontent a:hover {
  text-decoration: underline;
}