.abouytme {
  position: relative;
  width: 100%;
  padding-bottom: 15%;
  padding-top: 15%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.wbar {
  width: 100%;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.exploretext {
  color: #f0f5f9;
  text-align: center;
  font-family: Lufga;
  font-size: 22px;
  font-weight: 400;
}

.buttonexp {
  display: flex;
  width: 143px;
  height: 8px;
  padding: 26.473px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26.473px;
  border-radius: 21px;
  border: 1.524px solid #fff1e6;
  box-shadow:
    0 0 12.189px rgba(255, 255, 255, 0.25) inset,
    0 0 12.418px rgba(253, 111, 0, 0.75);
  backdrop-filter: blur(27px);
}

.content {

    margin-top: 2%;
    margin-left: 14%;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    position: relative;
    z-index: 1;
    text-align: center;
}

.aboutmetext {
  text-align: left;
  color: #fdfdf1;
  font-family: Lufga;
font-size: 4vw;
  font-weight: 700;
  line-height: 37px;
}

.aboutmetext2 {
  text-align: left;
  color: #fdfdf1;
  font-family: Lufga;
font-size: 2vw;
  font-weight: 400;
  line-height: normal;
}

.bgdetails_aboutius {
  background: #020103;
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
  margin: auto;
  justify-content: center;
  gap: 3%;
}

.stylewhsatdo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.whatdoitext {
  text-align: right;
  color: #fdfdf1;
  font-family: Lufga;
font-size: 4vw;
  font-weight: 700;
  line-height: 37px;
}

.whatdoitext2 {
  text-align: right;
  color: #fdfdf1;
  font-family: Lufga;
font-size: 2vw;
  font-weight: 400;
  line-height: normal;
}