.blogdetailsb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;

  background-color: #020103;
  background-image: url("/img/bg-blog.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bgblogff {
  margin-top: 9%;
  margin-bottom: 30%;
  color: #000;
  text-align: center;
  font-family: Lufga;
  font-size: 60px;
  font-weight: 500;
}