.firstblog-container {
  width: 100%;
  margin: auto;
  font-family: Lufga, sans-serif;
  color: #102;
}

.blogdetailsb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #020103;
  background-image: url(img/bg\ blog.png);
  background-size: cover;
  margin: auto;
  padding: 20px;
}

.bgblogff {
  margin-top: 9%;
  margin-bottom: 30%;
  color: #000;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  line-height: normal;
}

.tableofcontent {
  margin: 40px 5%;
}

.tableofcontent h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.tableofcontent ul {
  list-style: none;
  padding: 0;
}

.tableofcontent ul li {
  margin-bottom: 10px;
}

.tableofcontent a {
  text-decoration: none;
  color: #102;
}

.margblog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 5% 40px 5%;
  margin: auto;
}

.femaltext {
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 20px;
}

.detailsblogdeyt {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.detailsblogdeyfet {
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 15px;
}

.designerlist {
  list-style: disc;
  padding-left: 20px;
}

.designerlist li a {
  text-decoration: none;
  color: #102;
}

.whatsapp-icon {
  width: 40px;
  margin-right: 10px;
}