.divmianbutton {
  border-radius: 21px;
  border: 1.524px solid #FFF1E6;
  box-shadow: 0 0 12.189px 0 rgba(255, 255, 255, 0.25) inset,
              0 0 12.418px 0 rgba(253, 111, 0, 0.75);
  backdrop-filter: blur(26.968px);
  display: flex;
  width: 143px;
  height: 8px;
  padding: 26.473px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26.473px;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.divmianbutton:hover {
  box-shadow: 0 0 15px rgba(253, 111, 0, 0.9);
}

.buttonmaintext {
  color: #F0F5F9;
  text-align: center;
  font-family: Lufga, sans-serif;
  font-size: 22px;
  font-weight: 400;
}
.divmianbutton:hover {
    background-color: orange; /* change entire button background to orange */
    box-shadow: 0 0 15px rgba(253, 111, 0, 0.9); /* optional glow */
}