.blogdetailsb {

}

.bgblogff {
margin-bottom: 30%;
    margin-top: 14%;
    color: #000;
    text-align: center;
    font-family: Lufga;
    font-size: 3VW;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}