.buttonskills {
  margin: 20px;
  display: flex;
  width: 113px;
  padding: 26px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  border-radius: 21px;
  border: 1.5px solid #fff1e6;
  box-shadow: 
    0 0 12px 0 rgba(255, 255, 255, 0.25) inset, 
    0 0 12px 0 rgba(253, 111, 0, 0.75);
  backdrop-filter: blur(26px);
}

.figmah1 {
  color: #f0f5f9;
  text-align: center;
  font-family: Lufga;
  font-size: 22px;
  font-weight: 400;
}